html {
    overflow-y: hidden;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica  Neue", "Helvetica", "Arial", sans-serif;
    line-height: normal;
    touch-action: manipulation;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.topBar {
    top: 0;
    z-index: 10;
}
.promoBar {
    bottom: 0;
}
.topBar .levelWrap {
    margin-left: 1rem;
}
.promoBar, .topBar { 
    background-color:gray;
    display: inline-flex;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 100%;
    position: fixed;
}
#score-area {
    font-size: 24px;
    margin-bottom: 20px;
}
#main-click-button {
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f7d794; /* クッキーっぽい色 */
    border: 2px solid #a0522d;
    border-radius: 10px;
}
.upgrade-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 14px;
}
.upgrade-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #888;
}
